body {
  font-family: arial;
  font-size: 12pt;
  color: #2a6496; }

.post-wrapper {
  width: 100%;
}

.recipe-label, .recipe-main-label {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

.recipe-main-label {
  margin-top: 10%;
}

.recipe-intro-text {
  float: left;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center; }

.recipe-read-more {
  float: left;
  width: 100%;
  margin: 2% 0 0 0;
  padding: 0 0 0 0;
  text-align: center; }

.recipe-head, .recipe-body, .recipe-footer {
  width: 60%;
  padding: 1%;
}

.recipe-body, .recipe-footer {
  padding-left: 10%;
}

.recipe-head {
  padding-top: 10%;
}

.recipe-outer, .recipe-main-label {
  width: 60%;
}

.recipe-outer, .recipe-view-outer {
  float: left;
  padding: 1%;
  background: #e0e0e0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  /* Firefox 3.6 and earlier */
  border: darkgreen solid 1px;
}
.recipe-outer {
  margin: 2% 0 2% 0%;
}

.recipe-view-outer {
  margin: 2% 0 2% 20%;
}

.recipe-wrapper {
  width: 100%;
  text-align: left;
  margin: 1% 0 0 0;
  input {
    width: 100%;
  }
}

.recipe-body {
  background: #e0e0e0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  /* Firefox 3.6 and earlier */
  border: darkgreen solid 1px;
}

.recipe-comment-wrapper {
  float: left;
  width: 50%;
  margin: 2% 0 2% 25%;
  padding: 1%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  /* Firefox 3.6 and earlier */
  border: darkgreen solid 1px; }

.recipe-comments {
  float: left;
  width: 96%;
  margin: 2% 0 2% 2%;
  padding: 1%;
  background: #f5e79e;
  border-radius: 6px;
  -moz-border-radius: 6px;
  /* Firefox 3.6 and earlier */
  border: darkgreen solid 1px; }

.recipe-comment-label {
  float: left;
  width: 100%;
  margin: 1% 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 16pt; }

.recipe-login-wrapper {
  float: left;
  background: #e0e0e0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  /* Firefox 3.6 and earlier */
  border: darkgreen solid 1px; }

@media screen and (min-width: 1200px) {
  .recipe-login-wrapper {
    width: 40%;
    margin: 10% 0 0 30%;
    padding: 1%;
    background: #e0e0e0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    /* Firefox 3.6 and earlier */
    border: darkgreen solid 1px; } }

@media screen and (max-width: 1200px) {
  .recipe-login-wrapper {
    width: 40%;
    margin: 10% 0 0 30%;
    padding: 1%;
    background: #e0e0e0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    /* Firefox 3.6 and earlier */
    border: darkgreen solid 1px; } }

@media screen and (max-width: 600px) {
  .recipe-login-wrapper {
    width: 80%;
    margin: 10% 0 0 10%;
    padding: 1%;
    background: #e0e0e0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    /* Firefox 3.6 and earlier */
    border: darkgreen solid 1px; } }

.recipe-login-label {
  float: left;
  width: 70%;
  margin: 0 0 0 15%;
  padding: 1% 0 0 0;
  text-align: center; }

.recipe-login-element {
  float: left;
  width: 70%;
  margin: 0 0 0 15%;
  padding: 1% 0 0 0;
  text-align: center; }

.recipe-login-button {
  float: left;
  width: 100%;
  margin: 0 0 0 0;
  padding: 5% 0 0 0;
  text-align: center; }

.recipe-login-error {
  float: left;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  color: red;
}

.recipes-sidebar {
  background: red;
  width: 300px;
  height: 600px;
}