%div{'recipes-nav' => '', 'nav-title' => "Recipes App"}
#container.container
  .post-wrapper
    .recipe-main-label Recipes

    / You can use a custom html template with the `data-template` attr
    %button.btn.btn-lg.btn-danger(bs-aside="aside" data-animation="am-slide-left" data-container="body" data-placement="left" data-template-url="bower_components/angular-aside/demo.html" type="button")
    Custom aside
    %br/
    %small (using data-template)


    / You can use a custom html template with the `data-template` attr
  %button.btn.btn-lg.btn-danger(bs-aside="aside" data-animation="am-slide-left" data-container="body" data-placement="left" data-template-url="aside/docs/aside.demo.tpl.html" type="button")
  Custom aside
  %br/
  %small (using data-template)


    -#%recipes-sidebar

    %div{'ng-repeat' => 'recipe in recipeList'}
      .recipe-outer
        .recipe-intro-text
          Name: {{ recipe.name }}
        .recipe-read-more
          %a{:href => '#!recipes/{{recipe.id}}'} Read More
