%div{'recipes-nav' => '', 'nav-title' => "Recipes App"}
#container.container
  .recipe-wrapper
    %form{'ng-submit' => 'submit()'}
      .recipe-head.recipe-label
        .row
          .col-xs-4
            %label Name:
          .col-xs-8
            %input{:type => 'text', 'ng-model' => 'recipe.name'}
        .row
          .col-xs-4
            %label Origin:
          .col-xs-8
            %input{:type => 'text', 'ng-model' => 'recipe.origin'}
      .recipe-body
        %h3 Ingredients
        %div{'ng-repeat' => 'ingredient in recipe.ingredients'}
          .row
            .col-xs-4
              Ingredient
            .col-xs-2
              Amount
            .col-xs-4
              Unit
          .row
            .col-xs-4
              %input{:type => 'text', 'ng-model' => 'ingredient.name'}
            .col-xs-2
              %input{:type => 'text', 'ng-model' => 'ingredient.amount'}
            .col-xs-2
              %input{:type => 'text', 'ng-model' => 'ingredient.unit'}
            .col-xs-4
              %a{'ng-click' => 'removeIngredient(ingredient)'} Remove
        .row
          .col-xs-4
            %a{:type => 'submit', :value => 'Add Ingredient', 'ng-click' => 'addIngredient()'} Add Ingredient

        .row
          .col-xs-12
            %h3 Method

        %div{'ng-repeat' => 'stage in recipe.method'}
          .row
            .col-xs-3
              %label Stage:
            .col-xs-6
              %input{:type => 'text', 'ng-model' => 'stage.description'}
          %div{'ng-repeat' => 'step in stage.steps track by $index'}
            .row
              .col-xs-3
                Step {{ $index + 1 }}:
              .col-xs-6
                %input{:type => 'text', 'ng-model' => 'step', :id => '{{ $index }}'}
              .col-xs-3
                %a{'ng-click' => 'removeStep(step)'} Remove

            .row{'ng-if' => '$last'}
              .col-xs-3
                %a{:type => 'submit', :value => 'Add Step', 'ng-click' => 'addStep(stage)'} Add Step
          .row
            .col-xs-offset-9.col-xs-3
              %input{:type => 'submit', :value => 'Remove Stage', 'ng-click' => 'removeStage(stage)'}
          %hr

          .row
            .col-xs-4
              %input{:type => 'submit', :value => 'Add Stage', 'ng-click' => 'addStage()'}