<div menu-title='Recipes App' recipes-menu=''></div>
<div class='container' id='container'>
  <div class='recipe-label'></div>
  <div class='recipe-entry-wrapper'>
    <div class='recipe-intro-text'>
      <h1>{{ recipeEntry.name }}</h1>
      <caption>Origin: {{ recipeEntry.origin }}</caption>
    </div>
    <div class='recipe-entry-outer'>
      <h3>Ingredients</h3>
      <ul>
        <div ng-repeat='ingredient in recipeEntry.ingredients'>
          <li>
            {{ ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}
          </li>
        </div>
      </ul>
      <h3>Method</h3>
      <ul>
        <div ng-repeat='stage in recipeEntry.method'>
          <h4>
            {{ stage.description }}
            <ul>
              <div ng-repeat='step in stage.steps'>
                <li>
                  {{ step }}
                </li>
              </div>
            </ul>
          </h4>
        </div>
      </ul>
    </div>
  </div>
</div>
