<div nav-title='Recipes App' recipes-nav=''></div>

<div class='container' id='container'>
    <div class='post-wrapper'>
        <div class='recipe-main-label'>SIDEBAR PAGE</div>

        <!-- You can use a custom html template with the `data-template` attr -->
        <button type="button" class="btn btn-lg btn-danger" data-template-url="partials/sidebar.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">Custom aside
            <br>
            <small>(using data-template)</small>
        </button>
    </div>
</div>