!!!
%html{:lang => "en", "ng-app" => "recipesApp"}
  %head
  %title Recipes App

  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %link{:rel => "stylesheet", :href => "css/styles.css"}

  :javascript
      //console.clear()

  %body
    %div(ng-view)

    %script{:src => "js/bundle.js"}