%div{'recipes-nav' => '', 'nav-title' => "Recipes App"}
#container.container
  .recipe-label Recipes
  .post-wrapper
    %div{'ng-repeat' => 'recipe in recipeList'}
      .recipe-outer
        .recipe-intro-text
          Name: {{ recipe.name }}
        .recipe-read-more
          %a{:href => '#!recipes/{{recipe.id}}'} Read More
