%div{'recipes-menu' => '', 'menu-title' => "Recipes App"}
#container.container
  .recipe-label Recipe Entry
  .recipe-entry-wrapper
    .recipe-intro-text
      Name: {{ recipeEntry.name }}
    .recipe-entry-outer
      Origin: {{ recipeEntry.origin }}