%div{'recipes-nav' => '', 'nav-title' => "Recipes App"}
#container.container
  .recipe-label
  .recipe-entry-wrapper
    .recipe-intro-text
      %h1 {{ recipeEntry.name }}
      %caption Origin: {{ recipeEntry.origin }}
    .recipe-entry-outer
      %h3 Ingredients
      %ul
        %div{'ng-repeat' => 'ingredient in recipeEntry.ingredients'}
          %li
            {{ ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}
      %h3 Method
      %ul
        %div{'ng-repeat' => 'stage in recipeEntry.method'}
          %h4
            {{ stage.description }}
            %ul
              %div{'ng-repeat' => 'step in stage.steps'}
                %li
                  {{ step }}